.columns {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}

.grid-2,
.grid-3 {
  @media screen and (min-width: 40rem) {
    grid-template-columns: 1fr 1fr;
  }
}

.grid-3 {
  @media screen and (min-width: 64rem) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.grid-4 {
  @media screen and (min-width: 64rem) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
