.fullwidth {
  align-items: center;
  aspect-ratio: 16 / 6;
  display: block;
  width: 100%;

  canvas {
    border-radius: 16px;
    box-shadow: -1px 3px 21px -6px rgba(0, 0, 0, 0.35);
    height: 100% !important;
    width: 100% !important;
  }
}
