header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 4rem;

  .site-branding {
    font-size: 20px;
  }

  nav {
    ul {
      display: flex;
      font-size: 20px;
      gap: 2rem;
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}
